:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

header {
}
h1,
h2,
h3 {
  color: slategray;
}
h1 {
  text-align: center;
}
.top {
  background-color: deepskyblue;
  color: white;
  padding: 10px 30px;
}

.bottom {
  background-color: lightgray;
  padding: 10px 50px;
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kitteh {
  border: 1px solid deepskyblue;
  padding: 5px;
  margin: 10px;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: lightcyan;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.post {
  margin: 0px 20px;
}
